@charset "UTF-8";


.wrap {

	position: absolute;

	left: 0;

	bottom: 40px;

	width: 288px;

	margin-left: -144px;

	text-align: left;

	overflow: hidden;

	font-size: 12px;

	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;

	line-height: 1.5;

}


.wrap * {

	padding: 0;

	margin: 0;

}


.wrap .info {

	width: 286px;

	border-radius: 5px;

	border-bottom: 2px solid #ccc;

	border-right: 1px solid #ccc;

	overflow: hidden;

	background: #fff;

}


.wrap .info:nth-child(1) {

	border: 0;

	box-shadow: 0px 1px 2px #888;

}


.info .title {

	padding: 5px 0 0 10px;

	height: 30px;

	background: #eee;

	border-bottom: 1px solid #ddd;

	font-size: 18px;

	font-weight: bold;

}


.info .close {

	position: absolute;

	top: 10px;

	right: 10px;

	color: #888;

	width: 17px;

	height: 17px;

	background:

		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');

}


.info .close:hover {

	cursor: pointer;

}


.info .body {

	position: relative;

	overflow: hidden;

}


.info .desc {

	position: relative;

	margin: 10px;

	'

}


.desc .ellipsis {

	overflow: hidden;

	text-overflow: ellipsis;

	white-space: nowrap;

}


.desc .jibun {

	font-size: 11px;

	color: #888;

	margin-top: -2px;

}


.myLocation {

	float: left;

	cursor: pointer;

	width: 32px;

	height: 32px;

	user-select: none;

	-webkit-user-drag: none;

	border-top: none;

	border-right: none;

	border-bottom: 1px solid rgb(226, 226, 226);

	border-left: none;

	border-image: initial;

	background: url(https://cdn1.iconfinder.com/data/icons/unicons-line-vol-4/24/map-marker-alt-48.png) no-repeat center/80% rgb(255, 255, 255);

	border-radius: 3px 3px 0px 0px;

}
